<div class="field" phx-window-keyup="explorer-keypress">
    <div class="flex flex-row">
        <div><%= @location_id %></div>
    </div>
    <div class="flex flex-row">
        <%= if @location.artefact do %>
            <div><%= @location.artefact.content %></div>
        <% end %>
    </div>
</div>
